@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype');
}

:root {
    --cor-titulo: #0E6132;
    --cor-fundo: #a4f3c8c0;
    --cor-fundo2: #05E168;
    --cor-gradiente1: #16BB5E;
    --cor-gradiente2: #11753c;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor-fundo);
}

header {
    background-image: linear-gradient(to bottom, #2dd877, #158043);
    height: 170px;
    padding: 30px;
    min-height: 150px;
}

header h1 {
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px 3px #00000063;

}

header p {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;
    font-size: 1.2em;
    text-shadow: 2px 2px 3px #00000063;
    max-width: 500px;
    margin: auto;
}

nav {
    background-color: #158043;
    box-shadow: 1px 6px 6px rgba(0, 0, 0, 0.288);
    padding: 30px 0px 10px 0px;
    display: block;
}

nav a{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition-duration: 0.2s ;
}

nav a:hover {
    background-color: #126636;
}


main {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.39);
    padding: 20px;
    background-color: white;
    margin: auto;
    margin-bottom: 20px;
    min-width: 300px;
    max-width: 1000px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1, h2 {
    font-family: 'idroid', sans-serif;
    
}

main h2 {
    background-image: linear-gradient(to right, var(--cor-gradiente1), transparent);
    text-indent: 20px;
    padding: 2px 0px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

.foto {
    width: 100%;
}

#bugdroid {
    display: block;
    margin: auto;
}

.video {
    background-color: var(--cor-titulo);
    margin-bottom: 30px;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor-fundo2);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 3px 3px 6px 2px #00000029
}

aside > h3 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #126636;
    color: white;
    padding: 8px;
    padding-left: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin: -10px -10px 0px -10px
}

aside ul {
    list-style: inside;
    columns: 2;
    list-style-type: none;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color: var(--cor-titulo);
    color: white;
    text-align: center;
    padding: 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}

footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}